{% extends 'base.html.twig' %}

{% block title %}Note de service : {{ service_note.object }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">{{ service_note.object }}</h1>
	</div>
    <p>{{ service_note.content }}</p>
    <a href="{{ path('app_service_note_index') }}" class="btn btn-outline-primary">{{ bootstrap_icon('arrow-left-circle') }} Notes de service</a>
{% endblock %}
