{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Actualités</h1>
	</div>
	{% for news in news %}
		<div class="col-sm-4">
			<div class="card">
				<img src="{{ asset('uploads/files/' ~ news.imageFileName) }}" class="card-img-top" alt="{{ news.title }}" title="{{ news.title }}">
				<div class="card-body">
					<h5 class="card-title">{{ news.title }}</h5>
					{% if news.start or news.end %}
						<h6 class="card-subtitle mb-2 text-secondary">
							{% if news.start and news.end %}
								{{ news.start|date('d/m/Y') }} - {{ news.end|date('d/m/Y') }}
							{% elseif news.start %}
								À partir du {{ news.start|date('d/m/Y') }}
							{% elseif news.end %}
								Jusqu'au {{ news.end|date('d/m/Y') }}
							{% endif %}	
						</h6>
					{% endif %}
					<p class="card-text">{{ news.content|slice(0, 150) ~ (news.content|length > 150 ? '...' : '') }}</p>
					<p class="card-text text-secondary small">{{ news.likes|length }} j'aime</p>
					<div class="btn-toolbar gap-1">
						{{ include('news/_like_form.html.twig') }}
						<a href="{{ path('app_news_show', {'id': news.id}) }}" class="btn btn-outline-primary">Lire {{ bootstrap_icon('eye') }}</a>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<tr>
			<td colspan="5">Aucun élément.</td>
		</tr>
	{% endfor %}
{% endblock %}
