<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Trac'Route -
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🛞</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<link rel="manifest" href="/manifest.json">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('app_dashboard') }}">Trac'Route 🛞</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_planned_slot_index') }}">Planning</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_holidays_period_index') }}">Congés</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_invoice_index') }}">Factures</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_news_index') }}">Actualités</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_service_note_index') }}">Notes de service</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Administration
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="{{ path('app_admin_user_index') }}">Utilisateurs</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_admin_planned_slot_index') }}">Plannings</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_admin_news_index') }}">Actualités</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_admin_holidays_period_index') }}">Congés</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_admin_service_note_index') }}">Notes de service</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_admin_planned_slot_category_index') }}">Catégories planning</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<main class="container"> {% block body %}{% endblock %}
			</main>
		</body>
	</html>
