{% extends 'base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block body %}
	<div class="px-5 py-3 my-3 bg-light rounded-3">
		<div class="container-fluid py-5">
			<h1 class="display-5 fw-bold">Intranet Trac'Route</h1>
			<p class="col-md-8 fs-5">Votre portail personnalisé pour une gestion fluide, une information en temps réel et une collaboration renforcée ! Découvrez un espace dédié où vous pouvez administrer facilement vos congés, rester informé grâce aux actualités les plus récentes et accéder aux notes de services essentielles.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h2>Dernière actualité</h2>
			</div>
			{% if news != NULL %}
				<div class="card">
					<img src="{{ asset('uploads/files/' ~ news.imageFileName) }}" class="card-img-top" alt="{{ news.title }}" title="{{ news.title }}">
					<div class="card-body">
						<h5 class="card-title">{{ news.title }}</h5>
						<p class="card-text">{{ news.content|slice(0, 150) ~ (news.content|length > 150 ? '...' : '') }}</p>
						<p class="card-text text-secondary small">{{ news.likes|length }} j'aime</p>
						<div class="btn-toolbar gap-1">
							{{ include('news/_like_form.html.twig') }}
							<a href="{{ path('app_news_show', {'id': news.id}) }}" class="btn btn-outline-primary">Lire {{ bootstrap_icon('eye') }}</a>
						</div>
					</div>
				</div>
			{% else %}
				<tr>
					<td colspan="5">Aucun élément.</td>
				</tr>
			{% endif %}
		</div>
		<div class="col-sm-6">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h2>Dernière note de service</h2>
			</div>
			{% if service_note != NULL %}
				<div class="card">
					<div class="card-header">
						{{ service_note.object }}
					</div>
					<div class="card-body">
						<p class="card-text">{{ service_note.content|slice(0, 150) ~ (service_note.content|length > 150 ? '...' : '') }}</p>
						{% if app.user and service_note.isValidatedByUser(app.user) %}
							<p class="text-secondary small">Vous avez validé la réception de cette note.</p>
						{% endif %}
						<div class="btn-toolbar gap-1">
							{{ include('service_note/_validate_form.html.twig') }}
							<a href="{{ path('app_service_note_show', {'id': service_note.id}) }}" class="btn btn-outline-primary">Lire {{ bootstrap_icon('eye') }}</a>
						</div>
					</div>
				</div>
			{% else %}
				<div class="col-sm-4">
					<div class="card">
						<div class="card-body">
							<p class="card-text">Aucun élément.</p>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
