{{ form_start(form) }}
    <div class="row">
        <div class="col-sm-12">{{ form_row(form.object) }}</div>
-        <div class="col-sm-12">{{ form_row(form.content) }}</div>
    </div>
    <div class="d-flex justify-content-between">
        <a href="{{ path('app_holidays_period_index') }}" class="btn btn-outline-secondary">{{ bootstrap_icon('arrow-left-circle') }} Congés</a>
        <button class="btn btn-outline-primary">Enregistrer</button>
    </div>
{{ form_end(form) }}
