{{ form_start(form) }}
    <div class="row">
        <div class="col-sm-6">{{ form_row(form.name) }}</div>
        <div class="col-sm-6">{{ form_row(form.color) }}</div>
    </div>
    <div class="d-flex justify-content-between">
        <a href="{{ path('app_admin_planned_slot_category_index') }}" class="btn btn-outline-secondary">{{ bootstrap_icon('arrow-left-circle') }} Catégories planning</a>
        <button class="btn btn-outline-primary">Enregistrer</button>
    </div>
{{ form_end(form) }}
